.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

html:not([dir=rtl]) table.dataTable tbody td.select-checkbox::before,
table.dataTable tbody td.select-checkbox::after,
table.dataTable tbody th.select-checkbox::before,
table.dataTable tbody th.select-checkbox::after {
    top: 50%;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.75rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs>.btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}

.searchable-fields {
    padding-left: 5px;
    border-radius: 55px;
}

.searchable-link {
    padding: 0 5px 0 5px;
}

.searchable-link:hover {
    cursor: pointer;
    background: #eaeaea;
}

.select2-results__option {
    padding-left: 5px;
    padding-bottom: 10px;
    padding-right: 0px;
}

.form-group {
    margin-top: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.form-check.is-invalid~.invalid-feedback {
    display: block;
}

.c-sidebar-brand .c-sidebar-brand-full:hover {
    color: inherit;
}

.custom-select.form-control-sm {
    padding: 0.25rem 1.5rem;
}

/* nav sidebar */
.c-sidebar-nav-link:hover,
.c-sidebar-nav-dropdown-toggle:hover,
.c-sidebar-nav-dropdown-items {
    border-radius: 15px;
    background-color: rgb(244, 121, 113, 0.5) !important;
    margin: 0 0.3rem;
}

.c-sidebar .c-sidebar-nav-dropdown.c-show {
    background-color: transparent !important;
}

.c-sidebar-nav-link.c-active {
    border-radius: 15px;
    background-color: rgb(244, 121, 113, 0.5) !important;
    margin: 0 0.3rem;
}

.c-sidebar-nav-item,
.c-sidebar-nav-dropdown {
    margin: 0.5rem 0.3rem;
}

.c-sidebar-nav-dropdown-items {
    margin-top: 5px;
}

.c-sidebar .c-sidebar-brand {
    background: transparent !important;
    margin-top: 0.8rem;
}

.c-sidebar-nav-icon {
    margin-right: -7px;
}

.third_menu {
    font-size: 12px;
}

.setting_btn {
    align-self: center;
}

.ps__rail-y {
    background-color: transparent !important;
}

/* nav sidebar end */

/* search */
.p-01 {
    padding: 1.25rem;
}

.mb-01 {
    margin-bottom: 0;
}

/* .page-link {
    color: #fa5661 !important;
} */

.m-height {
    min-height: 0%;
}

.text-end {
    text-align: end;
}

.color-white {
    color: white !important;
}

/* .btn-primary:focus, */
.page-link:focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(250, 86, 97, .25) !important;
}

*>.intro-y {
    z-index: 0 !important;
}

.chart {
    height: 500px;
    padding: 1.25rem;
    padding-bottom: 1.75rem;
}

/*
.btn-primary {
    --tw-border-opacity: 1 !important;
    border-color: rgb(var(--color-danger) / var(--tw-border-opacity)) !important;
    --tw-bg-opacity: 1 !important;
    background-color: rgb(var(--color-danger) / var(--tw-bg-opacity)) !important;
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
    border-radius: 0.3rem !important;
} */

.c-sidebar-nav-link:hover,
.c-sidebar-nav-dropdown-toggle:hover,
.c-sidebar-nav-dropdown-items {
    border-radius: 15px;
    background-color: rgb(244, 121, 113, 0.5) !important;
    margin: 0 0.3rem;
}

.c-sidebar .c-sidebar-nav-dropdown.c-show {
    background-color: transparent !important;
}

.c-sidebar-nav-link.c-active {
    border-radius: 15px;
    background-color: rgb(244, 121, 113, 0.5) !important;
    margin: 0 0.3rem;
}

.c-sidebar-nav-item,
.c-sidebar-nav-dropdown {
    margin: 0.5rem 0.3rem;
}

.c-sidebar-nav-dropdown-items {
    margin-top: 5px;
}

.bg-color {
    background-color: #ee3325;
}

.select2-container--default .select2-selection--single {
    background-color: transparent;
    border-radius: 10px;
    margin: 0.1rem 0.3rem;
}

/*.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 13px;
    padding: 0.5rem 1.5rem;
}*/

/*.select2-container--open .select2-dropdown--below {
    margin-left: 5px;
    width: 246px;
    padding: 0.2rem;
    background-color: #f2f2f3;
    border-radius: 0 0 10px 10px;
}*/

/*------top bar------*/
.home_title {
    color: black;
    font-size: 30px;
    margin-left: 10px;
}

@media (max-width: 740px) {
    .home_title {
        font-size: 20px;
        margin-left: 10px;
    }
}

.c-header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 50px;
    margin: 0;
    position: relative;
}

.c-header-nav:hover {
    color: #4d4d4d !important;
    ;
}

.c-header-nav-item {
    position: relative;
    display: flex;
    width: 100%;
    height: 105%;
    font-size: 15px;
    justify-content: end;
}

.c-header-nav .c-header-nav-btn,
.c-header-nav .c-header-nav-link {
    display: flex;
    align-items: center;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #404040;

}

.icon-user {
    padding-top: 5px;
    padding-left: 7px;
    font-size: 32px;
}

@media (max-width: 767px) {
    .icon-user {
        padding-top: 6px;
        padding-left: 0;
        font-size: 28px;
    }
}

.logout-text {
    color: #404040;
    padding-left: 10px;
}

.c-main {
    padding-top: 1rem !important;
}

.logo-svg {
    position: absolute;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100px;
}

.left-logo {
    margin-left: 0;
    margin-right: 0;
    position: relative;
}

/*------top bar------*/
.w-40px {
    width: 40px;
}

/*------top bar------*/

/*-----nav bottom-------*/

.c-bottom .c-bottom-nav .c-bottom-nav-btn:focus,
.c-bottom .c-bottom-nav .c-bottom-nav-btn:hover,
.c-bottom .c-bottom-nav .c-bottom-nav-link:focus,
.c-bottom .c-bottom-nav .c-bottom-nav-link:hover {
    color: #4d4d4d !important;
}

.c-bottom-nav-item a {
    color: inherit; 
}

.c-bottom-nav-item a:hover {
    color: var(--color-primary);
    text-decoration: none;
}

.fixed-bottom,
.fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030
}

.fixed-bottom {
    bottom: 0;
    background-color: white;
    border-top: 1px solid black;
}

.c-bottom-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 56px;
    margin: 0;
    position: relative;
}

.c-bottom-nav .c-bottom-nav-btn,
.c-bottom-nav .c-bottom-nav-link {
    display: flex;
    align-items: center;
    padding-right: .5rem;
    padding-left: .5rem
}

.c-bottom-nav-item {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 105%;
}

.c-bottom-nav-item-text {
    padding-left: 5px;
    display: inline-block;
    vertical-align: 5px;
}

.c-active {
    color: var(--color-primary);
}


/*-----nav bottom-------*/

/*-------content------*/

.content {
    padding-top: 1.8rem !important;
    /* margin-left: 1rem; */
}

.top-bar.top-bar-padding {
    padding-right: 30px;
    padding-left: 30px;
}

@media (max-width: 767px) {
    .container-fluid.spacing-lr-padding {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media (min-width: 1280px) {
    #content-box {
        margin-left: 12px;
    }
}

.content-title {
    padding-left: 20px;
    align-items: center;
    height: 3.0rem;
    position: relative;
    display: flex;
}

.content-title-text {
    font-size: 18px;
    font-weight: 600;
}

@media (min-width: 780px) {
    .content-title-text {
        font-size: 20px;
    }
}

.content-body {
    margin-top: 15px;
    margin-bottom: 15px;
}

.content-form {
    margin-top: 20px;
}

@media screen and (min-width: 576px) {
    .btn-logout {
        margin: auto;
        display: block !important;
        width: 300px;
    }

    .btn-register {
        width: 100%;
        float: right;
    }

    .btn-upgrade {
        width: 100%;
    }
}

@media screen and (min-width: 991px) {
    .btn-register {
        width: 300px;
        float: right;
    }

    .btn-upgrade {
        width: 300px;
    }
}

@media screen and (max-width: 575px) {
    .btn-logout {
        margin: unset;
        width: 100%;
    }

    .btn-register {
        width: 100%;
        float: unset;
    }

    .btn-upgrade {
        width: 100%;
    }

    .spacing-p-0 {
        padding: 0 !important;
    }

    .spacing-p-1 {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

/*-------content------*/

.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 8px;
}

/* Franchise Overall */
.nav-pills .nav-link {
    border-radius: 0 !important;
}

.nav-pills .nav-link.active {
    background-color: #321fdb !important;
}

li.nav-item {
    background-color: #fff;
}

.p-heading-style {
    font-weight: bold;
}

.h5-heading-style {
    font-weight: bold;
    font-size: 15px;
}

.bottom-spacing {
    margin-bottom: 10px;
}

#date-filter.h5-heading-style {
    margin-bottom: 8px;
}

.spacing-p-5 {
    padding: 1.25rem !important;
}

.spacing-pl-5 {
    padding-left: 1.25rem !important;
}

.spacing-pr-5 {
    padding-right: 1.25rem !important;
}

.spacing-pt-5 {
    padding-top: 1.25rem !important;
}

.spacing-pt-6 {
    padding-top: 1.5rem !important;
}

.spacing-py-5 {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
}

div.dataTables_scrollHead table.dataTable {
    margin-top: 0 !important;
}

table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting {
    vertical-align: middle;
}

div#total-commission-0 {
    font-weight: bold;
    font-size: 15px !important;
}

.spacing-top-0 {
    margin-top: 0 !important;
}

.spacing-bottom-0 {
    margin-bottom: 0 !important;
}

/* Franchise dashboard */
.card-spacing {
    margin-bottom: 0 !important;
}

.bottom-5 {
    margin-bottom: 5px;
}

.row.profile {
    padding-left: 8px;
    padding-right: 8px;
}

div#user-role {
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 1.25rem;
}

@media (max-width: 569px) and (min-width: 483px) {
    .mobile-spacing {
        padding: 16px 35px !important;
    }
}

@media (max-width: 575px) {
    .card-spacing {
        margin-bottom: 16px !important;
    }

    .col-spacing {
        margin-bottom: 0 !important;
    }
}

@media (max-width: 463px) {
    .card-padding {
        padding: 12px 40px !important;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .mobile-spacing-bottom {
        margin-bottom: 0 !important;
    }
}

/* button column */
@media (max-width: 903px) {
    .dt-buttons .btn {
        margin-right: 0.75rem !important;
        margin-bottom: 0.75rem;
        margin-left: 0 !important;
    }

    .dt-buttons {
        margin-bottom: 0;
    }
}

div.dataTables_wrapper div.dataTables_length label {
    margin-right: 0.75rem;
}

.dt-buttons .btn {
    margin-right: 0.75em;
    margin-bottom: 1.25rem;
    margin-left: 0;
}

div.dt-buttons {
    margin-top: 0;
    margin-bottom: 0 !important;
}

a.btn.buttons-columnVisibility {
    margin-bottom: 0.75em;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.25);
    font-weight: bold;
}

a.btn.buttons-columnVisibility.active {
    display: table;
    margin-bottom: 0.75em;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.25);
    font-weight: bold;
    text-align: left;
    background-color: #f0f3f5;
    white-space: pre-wrap;
}

a.btn.buttons-columnVisibility.active:hover {
    background-color: #e5e7eb;
}

div.dt-button-collection {
    padding: 18px 10px 10px 10px;
    width: 200px !important;
}

.dataTables_wrapper .dataTables_paginate {
    padding-top: 0.85em;
}

.dataTables_filter {
    margin-right: 0 !important;
}

@media (max-width: 640px) {
    .dataTables_wrapper .dataTables_filter {
        margin-top: 0;
    }
}

/* Franchise invite history page */
.spacing-left-0 {
    padding-left: 0 !important;
}

.date-filter-right {
    float: right;
}

.col-lg-3.spacing-bottom-1 {
    margin-top: -6px;
}

@media (max-width: 575px) {
    .date-filter-right {
        float: left;
    }

    .mobile-spacing-left-0 {
        padding-left: 20px !important;
    }

    .month-target-mobile-center {
        text-align: center;
        padding-right: 0 !important;
    }
}

.text-14-size th {
    font-size: 14px;
}

/* Franchise downline page */
@media (max-width: 767px) {
    .spacing-mb-0 {
        margin-bottom: 0 !important;
    }

    .date-filter-left {
        float: left !important;
    }
}

@media (max-width: 575px) {
    .mobile-date-filter-40 {
        width: 40% !important;
    }

    .mobile-date-filter-60 {
        width: 60% !important;
    }
}

/* Franchise profile page */
.btn-edit-profile {
    text-align: center;
}

.row.px-4 {
    flex-wrap: unset;
    margin-right: 0;
}

@media (max-width: 767px) {
    .row.px-4 {
        flex-wrap: wrap;
        margin-right: -15px;
    }

    .card.mr-3 {
        margin-right: 0 !important;
    }
}

.ps--active-y>.ps__rail-y {
    display: none;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: lightgrey !important;
    color: #23282c !important;
}

/* Login */
.login_btn {
    --tw-shadow: none !important;
    padding-top: 0.2rem !important;
}

.login_bg {
    background-image: url(../images/login-bg.jpeg);
    background-size: cover;
    background-position: center;
}

#overlay {
    background: rgba(51, 51, 51, 0.4);
    position: absolute;
    height: 100%;
    width: 100%;
}

.login_card {
    background-color: #f1f2f4;
    opacity: 0.9;
    border-radius: 10px;
}

.login_img {
    position: relative;
}

.btn-secondary:hover {
    background: #e6e6e6 !important;
}

.btn-secondary {
    background: #ffffff !important;
}

@media screen and (max-width: 1023px) {
    .mobile_pass {
        display: none;
    }

    html:not([dir=rtl]) .form-check {
        padding-left: 0.5rem;
    }

    .mobile_body {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .mobile_card {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .mobile_card {
        margin: 0 !important;
    }
}

@media screen and (min-width: 1024px) {
    .web_pass {
        display: none;
    }
}

/* End Login Css */

.btn {
    margin-bottom: 0.5rem !important;
}

.add_condition {
    color: #fff !important;
    background-color: #2eb85c !important;
    border-color: #2eb85c !important;
}

.add_condition:hover {
    background-color: #218838 !important;
    border-color: #1e7e34 !important;
}